<% if current_user %>
  <h4>Add a comment:</h4>
  <%= form_for [post, comment] do |f| %>
  <div class="form-group">
    <%= f.label :body %>
    <%= f.text_area :body, rows: 8, class: 'form-control'  %>
</div>
    <%= f.submit %>
  <% end %>
<% end %>
