<% if current_user %>
  <h4>Add a comment:</h4>
  <%= form_for [post, comment], html: { class: 'form-horizontal' } do |f| %>
    <%= f.label :body %>
    <%= f.text_field :body %>
    <%= f.submit %>
  <% end %>
<% end %>
