 <h1>All Ads</h1>
 <% @advertisement.each do |ads| %>
   <p><%= link_to advertisement.title, advertisement %></p>
   <div class="media">
     <div class="media-body">
       <h4 class="media-heading">
         <%= link_to advertisement.title, advertisement %>
       </h4>
     </div>
   </div>
 <% end %>
