.social-btn {
-webkit-border-radius: 28;
  -moz-border-radius: 28;
  border-radius: 28px;
  font-family: Courier New;
  color: #ffffff;
  font-size: 14px;
  background: #3498db;
  padding: 8px 20px 7px 20px;
  text-decoration: none;

}